html, body{
  width: 100;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
}
a{
  text-decoration: none;
  color: #2191FB;
}
a:hover{
  transition: all 0.4s;
  color: grey;
}
footer{
  background: #2E3532;
  padding: 0.75%;
  color: #FFFFFF;
}
nav{
  margin-top: -2%;
  padding: 1%;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 2.5%;
}
nav a{
  text-decoration: none;
  color: #EDF4ED;
  float: left;
}
nav a:hover{
  color: #4a2def;
  transition: all 0.4s;
}
.header-container{
  background-image: linear-gradient( 135deg, #33D7FF 10%, #623AA2 100%);
}
.header{
  padding: 10%;
}
.header h1{
  margin-top: -2%;
  font-size: 67px;
}
.header p{
  font-weight: 300;
}
.team h5{
  font-weight: 200;
}
.text-gardient{
  text-transform: uppercase;
  background-image: linear-gradient( 135deg, #6AEBFF 10%, #AEFDFE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.block-space{
  background-image: url("../assets/background-block-space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 7%;
  color: black;
}
.team{
  background-image: url("https://i.imgur.com/S9nR9LP.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 7%;
}

.team png{
  filter: blur(8px);
}
h1{
  font-size: 50px;
}
h5{
  font-size: 25px;
}
p{
  font-size: 20px;
}
div{
  padding-top: 3%;
}
hr{
  width: 10%;
  border: 2px solid black;
  margin-bottom: 3%;
}
::placeholder{
  color: #FFFFFF;
}
input{
  background: none;
  width: 60%;
  padding: 2%;
  border: 2px solid #FFFFFF;
  margin-bottom: 0.5%;
  outline: none;
}
input:hover{
  border: 2px solid #EF2D56;
  transition: all 0.4s;
}
button{
  background: none;
  margin-top: 2%;
  border: 2px solid #FFFFFF;
  width: 64%;
  padding: 2%;
  outline: none;
  color: #FFFFFF;
}
button:hover{
  background: #EF2D56;
  transition: all 0.4s;
}
.flex-container{
  display: flex;
  justify-content: center;
}
.flex-item{
  /* color: #EDF4ED;
  background-image: linear-gradient( 135deg, #F97794 10%, #623AA2 127%); */
  width: 100%;
  margin: 30px;
  padding: 1.5%;
  align-items: center;
}
.flex-item p{
  font-weight: 100;
}
img:hover{
  transition: transform 0.2s;
  transform: scale(1.3, 1.3);
}
/*
Responsive Design Part
*/
@media only screen and (max-device-width: 480px){
  /* Handys */
  .flex-container{
    flex-direction: column;
  }
  .header-container a{
    font-size: 40px;
  }
  p{
    font-size: 12px;
  }
  h5{
    font-size: 40px;
  }
}
